@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}
/*Menu qui défille*/

#diapomain h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 42px;
    text-align: center;
    color:brown;
}

.élément{
    padding: 1%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
}

.miseenpage{
    text-align: center;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.texte{
    font-size: 22px;
}

.h4title{
    font-size: 30px;
    text-decoration: underline overline red;
}

.caption a{
    background-color: darkred;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.caption a:hover{
    background-color: gray;
    transition: 0.7s all;
}

#diapomain{
    position:relative;
    width: 80%;
    margin: auto;
}

.diapo{
    position: relative;
    overflow: hidden;
}

#diapomain #nav-droite, #nav-gauche{
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    font-size: 3em;
}

#nav-droite{
    right: -7.5%;
}

#nav-gauche{
    left: -7.5%;
}

#diapomain #nav-droite:hover, #nav-gauche:hover{
    color: red;
    cursor: pointer;
}

.éléments{
    display: flex;
    position: relative;
    transition: 1s linear;
    
}

.élément{
    flex: 1 0 100%;
    position: relative;
}